/*
  ===================
    Table of contents: 
      1-  css reset 
      2- layout
      3- introduction
      4- subscription
        4-1 button
      5- why-us
      6- media query

  ====================


    *****************
    1- css reset 
    *****************
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow:hsl(71, 73%, 54%);
    --light-gray:hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
button {
    font: inherit;
}
ul {
    list-style-type: none;
}
/* 
  *****************
  2- layout
  *****************
*/
body {
    display: grid;
    place-content: center;
    padding: 1.5em;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: var(--light-gray);
}
main {
    display: grid;
    -moz-box-shadow: 0px 0px 30px -5px var(--grayish-blue);
    -webkit-box-shadow: 0px 0px 30px -5px var(--grayish-blue);
    box-shadow: 0px 0px 30px -5px var(--grayish-blue);
}
main div{
    padding: 1em;
}
main div > * {
    margin-block: 16px;
}
/* 
  *****************
  3- introduction 
  *****************
*/
.introduction {
    background-color: white;
}
.introduction h1 {
    font-size: 1.5rem;
    color: var(--cyan);
}
.introduction h2 {
    font-size: 1.2rem;
    line-height: 1.1;
    color: var(--bright-yellow);
}
.introduction p {
    max-width: 60ch;
    color: var(--grayish-blue);
}
/* 
  *****************
  4- subscription
    4-1 button 
  *****************
*/
.subscription {
    background-color: var(--cyan);
}
.subscription li:first-child {
    color: var(--grayish-blue);
}
.subscription span {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--light-gray);
}
/* 
  *****************
    4-1 button 
  *****************
*/
.subscription button {
    min-width: 100%;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    color: inherit;
    border-radius: 8px;
    background-color: var(--bright-yellow);
    border-style: none;
}
.subscription button:hover {
    -moz-box-shadow: 0px 7px 27px -10px var(--grayish-blue);
    -webkit-box-shadow: 0px 7px 27px -10px var(--grayish-blue);
    box-shadow: 0px 7px 27px -10px var(--grayish-blue);
}
/* 
  *****************
  5- why-us
  *****************
*/
.why-us {
    background-color: var(--cyan);
    opacity: 0.85;
}
.subscription > * ,
.why-us > * {
    color: var(--light-gray);
}
/* 
  *****************
  6- media query
  *****************
*/
@media only screen and (min-width: 48rem) { 
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "introduction introduction" "subscription why-us";
    }
    main div{
        padding: 2.5em;
    }
    .introduction {
        grid-area: introduction;
    }
    .subscription {
        grid-area: subscription;
    }
    .why-us {
        grid-area: why-us;
    }
   
}
